{% load static %}
{% include "head.html" %}

    <!-- home -->
    <section id="blog_home">
        <h2>Blog</h2>
    </section>
    <!-- blog container -->
    <section id="blog_container">
        <div class="blogs">
            <div class="post">
                <img src="{% static 'assets/images/blog1.jpg'%}" alt="img not found">
                <h3>Learn Web Development In The Easiest Way</h3>
                <p>Lorem ipsum dolor, sit amet consectetur adipisicing elit. Accusamus excepturi libero cum ipsa deleniti rerum molestiae voluptate perferendis, consectetur iure voluptatum totam voluptatem neque perspiciatis consequuntur voluptates ipsam, nihil debitis.</p>
                <a href="/post">Read More</a>
            </div>
            <div class="post">
                <img src="{% static 'assets/images/blog4.avif' %}" alt="img not found">
                <h3>Learn Web Development In The Easiest Way</h3>
                <p>Lorem ipsum dolor, sit amet consectetur adipisicing elit. Accusamus excepturi libero cum ipsa deleniti rerum molestiae voluptate perferendis, consectetur iure voluptatum totam voluptatem neque perspiciatis consequuntur voluptates ipsam, nihil debitis.</p>
                <a href="/post1">Read More</a>
            </div>
            <div class="post">
                <img src="{% static 'assets/images/blog2.avif' %}" alt="img not found">
                <h3>Learn Web Development In The Easiest Way</h3>
                <p>Lorem ipsum dolor, sit amet consectetur adipisicing elit. Accusamus excepturi libero cum ipsa deleniti rerum molestiae voluptate perferendis, consectetur iure voluptatum totam voluptatem neque perspiciatis consequuntur voluptates ipsam, nihil debitis.</p>
                <a href="/post2">Read More</a>
            </div>
            <div class="post">
                <img src="{% static 'assets/images/blog3.jpg'%}" alt="img not found">
                <h3>Learn Web Development In The Easiest Way</h3>
                <p>Lorem ipsum dolor, sit amet consectetur adipisicing elit. Accusamus excepturi libero cum ipsa deleniti rerum molestiae voluptate perferendis, consectetur iure voluptatum totam voluptatem neque perspiciatis consequuntur voluptates ipsam, nihil debitis.</p>
                <a href="/post3">Read More</a>
            </div>
        </div>
        <div class="cate">
            <h2>Categories</h2>
            <hr>
            <a href="#">Web Development</a>
            <hr>
            <a href="#">Digital Marketing</a>
            <hr>
            <a href="#">App Development</a>
            <hr>
            <a href="#">Ethical Hacking</a>
            <hr>
            <a href="#">Python Programming</a>
            <hr>
            <a href="#">Java Programming</a>
        </div>
    </section>
{% include "footer.html" %}

    <script>
        $('#menu-btn').click(function(){
            $('nav .navigation ul').addClass('active')
        });
        $('#menu-close').click(function(){
            $('nav .navigation ul').removeClass('active')
        });
        
    </script>
</body>
</html>