{% load static %}
{% include "head.html" %}

    <!-- home -->
    <section id="about_home">
        <h2>Courses</h2>
    </section>
    <section  id="course">
        <h1>our popular courses</h1>
        <p>Replanish man have things gathering lights yielding shall you</p>
        <div class="course_box">
       
            <div class="courses">
            <a href="/courseinner">
                <img src="{% static 'assets/images/course1.jpg' %} " alt="img not found">
            </a>
                <div class="details">
                    <span>Updated 25/8/2020</span>
                    <h4>Python Beginner Course</h4>
                    <div class="star">
                        <i class="fa fa-star"></i>
                        <i class="fa fa-star"></i>
                        <i class="fa fa-star"></i>
                        <i class="fa fa-star"></i>
                        <i class="fa fa-star-half"></i>
                        <span>(5848)</span>
                    </div>
                </div>
                <div class="cost">
                    $78.51
                </div>
            </div>
        
            <div class="courses">
            <a href="/courseinner1">
                <img src="{% static 'assets/images/course2.jpg' %} " alt="img not found">
            </a>
                <div class="details">
                    <span>Updated 20/1/2018</span>
                    <h4>Java Beginner Course With Framework</h4>
                    <div class="star">
                        <i class="fa fa-star"></i>
                        <i class="fa fa-star"></i>
                        <i class="fa fa-star"></i>
                        <i class="fa fa-star"></i>
                        <span>(2348)</span>
                    </div>
                </div>
                <div class="cost">
                    $54.51
                </div>
            </div>
            <div class="courses">
            <a href="/courseinner2">
                <img src="{% static 'assets/images/course3.jpg'%}" alt="img not found">
            </a>
                <div class="details">
                    <span>Updated 07/12/2021</span>
                    <h4>Digital Marketing Course</h4>
                    <div class="star">
                        <i class="fa fa-star"></i>
                        <i class="fa fa-star"></i>
                        <i class="fa fa-star"></i>
                        <i class="fa fa-star-half"></i>
                        <span>(1948)</span>
                    </div>
                </div>
                <div class="cost">
                    $42.51
                </div>
            </div>
            <div class="courses">
            <a href="/courseinner3">
                <img src="{% static 'assets/images/course5.jpg'%}" alt="img not found">
            </a>
                <div class="details">
                    <span>Updated 07/12/2021</span>
                    <h4>Php Beginner Course With Framework</h4>
                    <div class="star">
                        <i class="fa fa-star"></i>
                        <i class="fa fa-star"></i>
                        <i class="fa fa-star"></i>
                        <i class="fa fa-star-half"></i>
                        <span>(2948)</span>
                    </div>
                </div>
                <div class="cost">
                    $52.11
                </div>
            </div>
            <div class="courses">
            <a href="/courseinner4">
                <img src="{% static 'assets/images/course4.jpg'%}" alt="img not found">
            </a>
                <div class="details">
                    <span>Updated 07/12/2021</span>
                    <h4>Cloud Computing </h4>
                    <div class="star">
                        <i class="fa fa-star"></i>
                        <i class="fa fa-star"></i>
                        <i class="fa fa-star"></i>
                        <i class="fa fa-star-half"></i>
                        <span>(1928)</span>
                    </div>
                </div>
                <div class="cost">
                    $89.51
                </div>
            </div>
            <div class="courses">
            <a href="/courseinner5">
                <img src="{% static 'assets/images/course6.jpg'%}" alt="img not found">
            </a>
                <div class="details">
                    <span>Updated 07/12/2021</span>
                    <h4>Ethical Hacking Beginner To Advance</h4>
                    <div class="star">
                        <i class="fa fa-star"></i>
                        <i class="fa fa-star"></i>
                        <i class="fa fa-star"></i>
                        <i class="fa fa-star-half"></i>
                        <span>(3048)</span>
                    </div>
                </div>
                <div class="cost">
                    $70.89
                </div>
            </div>
            <div class="courses">
            <a href="/courseinner6">
                <img src="{% static 'assets/images/course9.jpeg'%}" alt="img not found">
            </a>
                <div class="details">
                    <span>Updated 07/12/2021</span>
                    <h4>CCNA & CCNP</h4>
                    <div class="star">
                        <i class="fa fa-star"></i>
                        <i class="fa fa-star"></i>
                        <i class="fa fa-star"></i>
                        <i class="fa fa-star-half"></i>
                        <span>(3048)</span>
                    </div>
                </div>
                <div class="cost">
                    $70.89
                </div>
            </div>
            <div class="courses">
            <a href="/courseinner7">
                <img src="{% static 'assets/images/course10.jpeg'%}" alt="img not found">
            </a>
                <div class="details">
                    <span>Updated 07/12/2021</span>
                    <h4>Graphic Designing</h4>
                    <div class="star">
                        <i class="fa fa-star"></i>
                        <i class="fa fa-star"></i>
                        <i class="fa fa-star"></i>
                        <i class="fa fa-star-half"></i>
                        <span>(3048)</span>
                    </div>
                </div>
                <div class="cost">
                    $70.89
                </div>
            </div>
            <div class="courses">
            <a href="/courseinner8">
                <img src="{% static 'assets/images/course8.avif'%}" alt="img not found">
            </a>
                <div class="details">
                    <span>Updated 07/12/2021</span>
                    <h4>Android Developement</h4>
                    <div class="star">
                        <i class="fa fa-star"></i>
                        <i class="fa fa-star"></i>
                        <i class="fa fa-star"></i>
                        <i class="fa fa-star-half"></i>
                        <span>(3048)</span>
                    </div>
                </div>
                <div class="cost">
                    $70.89
                </div>
            </div>
            <div class="courses">
            <a href="/courseinner9">
                <img src="{% static 'assets/images/course7.jpg'%}" alt="img not found">
            </a>
                <div class="details">
                    <span>Updated 07/12/2021</span>
                    <h4>Javascript Beginner To Advance</h4>
                    <div class="star">
                        <i class="fa fa-star"></i>
                        <i class="fa fa-star"></i>
                        <i class="fa fa-star"></i>
                        <i class="fa fa-star-half"></i>
                        <span>(3048)</span>
                    </div>
                </div>
                <div class="cost">
                    $70.89
                </div>
            </div>
        </div>
    </section>
{% include "footer.html" %}
    <script>
        $('#menu-btn').click(function(){
            $('nav .navigation ul').addClass('active')
        });
        $('#menu-close').click(function(){
            $('nav .navigation ul').removeClass('active')
        });
        
    </script>
</body>
</html>
